<div class="container-fluid" id="main_register">
  <div class="container" id="form__register">
    <h2>Please Register your information.</h2>
    <hr>
    <form>
      <div class="form-group">
        <div class="form-group">
          <label for="inputName">Name:</label>
          <input type="text" class="form-control" aria-describedby="Your Name" placeholder="Full Name" name="name">
        </div>
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="inputUsername">Username:</label>
        <input type="text" class="form-control" aria-describedby="username" placeholder="Create Username" name="username" >
      </div>
      <div class="form-group">
        <label for="inputPassword">Password:</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Create Password">
      </div>
      <button type="submit" class="btn center"><a routerLink="/">Submit</a></button>
    </form>
  </div>
</div>