<div class="container-fluid">
  <div class="container" id="main">
    <div id="section_a">
      <h1 class="heading">Havenz</h1>
      <hr>
      <img src="" alt="" class="img-responsive">
      <form (submit) ="onLoginSubmission()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" aria-describedby="username" placeholder="Enter Username" name="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="pass_word">Password:</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      <small>Not yet a member? <a routerLink="/register">Please join!</a></small>
    </div>
  </div>
</div>
