<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control">
  </div>
  <div class="form-group">
    <label>ID</label>
    <select name="ID" [(ngModel)]="ID" class="form-control">
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
  </div>
  <input type="submit" value="submit">
</form>
